<footer class="footer bg-slate">
    <div class="container footer__container">
        <div class="footer__grid">
            <div data-include="./components/layout/footer-brand.html"></div>
            <div data-include="./components/layout/footer-links.html"></div>
            <div data-include="./components/layout/footer-contact.html"></div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container" data-include="./components/layout/footer-legal.html"></div>
    </div>
</footer>

<link rel="stylesheet" href="./css/components/layout/footer.css">